#playbutton {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-size: contain;
  background-position: center;
  background-image: url("/img/play.png");
  background-repeat: no-repeat;
}

#playbutton_wrapper {
  display: table;
  width: auto;
  position: relative;
  margin-bottom: 5px;
}

#playbutton_wrapper {
  cursor: pointer;
}
