#heading {
  text-align: left;
  padding: 5px 0 10px 0;
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}

#download-ios {
  padding-right: 30px;
}

#download-ios img {
  width: 180px;
}

#download-android img {
  width: 180px;
}

#UI-image-1 {
  width: 100%;
}

#UI-image-2 {
  width: 100%;
}

#download-button {
  margin-top: 35px;
  font-size: 20px;
  text-decoration: none;
}