html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

a {
  outline: none;
}

#menu-container {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: #4d4d4d;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15), 0 3px 7px rgba(0, 0, 0, 0.3)
}

#menu {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 900px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 45px;
}

#logo {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  float: left;
  margin-top: -6px;
  color: rgba(255, 255, 255, 0.8);
}

#logo a {
  text-decoration: none;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
}

#menu-items {
  float: right;
  margin-top: 4px;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.8);
}

#menu-items a {
  margin-left: 30px;
  text-decoration: none;
  font-weight: 500;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
}

#menu-items a:hover {
  color: rgb(255, 255, 255);
  opacity: 1;
}

.menu-highlight {
  color: rgb(255, 255, 255) !important;
  opacity: 1 !important;
  font-weight: 700 !important;
}

#content-container {
  z-index: 1;
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 100%;
  height: auto;
}

#content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 900px;
  text-align: justify;
  font-size: 16px;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  padding-bottom: 35px;
  padding-top: 35px;
}

.highlight-text {
  font-weight: bold;
}

#content a {
  text-decoration: none;
  color: #9a2328;
}

#content a:hover {
  text-decoration: underline;
}

.info-table {
  width: 100%;
  margin: 0;
}

.info-table td {
  border-spacing: 0;
}

.text {
  padding: 12px 0 12px 0;
  margin: 0;
}

.text-small-padding {
  padding: 8px 0 8px 0;
  margin: 0;
}

.text-small-no-top-padding {
  padding: 0 0 8px 0;
  margin: 0;
}

.text-small-no-bottom-padding {
  padding: 8px 0 0 0;
  margin: 0;
}

.image {
  padding: 15px 0 15px 0;
  margin: 0;
}

.buttons {
  padding: 10px 0 12px 0;
  margin: 0;
  float: right;
}

.heading {
  text-align: left;
  padding: 5px 0 10px 0;
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}

.heading-2 {
  text-align: left;
  padding: 0px 0 10px 0;
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}

.heading-button {
  text-align: left;
  padding: 15px 0 20px 0;
  margin: 0;
}

#UI-image-1 {
  width: 94%;
}

#UI-image-2 {
  width: 94%;
}

.force-scroll {
  overflow-y: scroll;
}

.force-no-scroll {
  overflow-y: hidden;
}

.custom-button {
  display: table;
  text-align: center;
  background-color: #7d7d7d;
  color: white !important;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 14px;
  outline: none;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s, box-shadow 0.2s;
  padding: 12px 25px 12px 25px;
  text-decoration: none !important;
}

.custom-button:hover {
  background-color: #4d4d4d;
  text-decoration: none !important;
}

.custom-button:active {
  box-shadow: none;
  background-color: #4d4d4d;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

#viz-iframe {
  border: 0;
  width: 100%;
  height: 100%;
}

#download-ios {
  padding-right: 30px;
}

#download-ios img {
  width: 180px;
}

#download-android img {
  width: 180px;
}

h2 {
  padding: 0px 0 10px 0;
  margin: 0;
}

ul {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#download-button {
  font-size: 20px;
  padding: 15px 30px 15px 30px;
}

.video {
  padding: 15px 0 15px 0;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}